/* COLORS FOR DARK THEME */
.dark .home__title {
    color: #4070F4;
}
.dark .home__title-color {
    color: #fff;
}
.dark .typewrite {
    color: #fff;
}
.dark .cv-button {
    color: #fff;
    border-color: #fff;
}
.dark .cv-button:after, .dark .cv-button:before {
    border-color: #fff;
}
.dark .cv-button:hover:after, .cv-button:hover:before {
    border-color: #fff;
}
.dark .home__social-icon {
    color: #fff;
}
.dark .arrow span {
    color: #fff;
}
.dark .about__subtitle {
    color: #fff;
}
.dark .about__text {
    color: #fff;
}
.dark .skills__subtitle {
    color: #fff;
}
.dark .skills__text {
    color: #fff;
}
.dark .skills__data {
    color: #fff;
    background-color: var(--second-color);
}
.dark .skills__names {
    color: #fff;
}
.dark .work__text {
    color: #fff;
}
.dark .contact__text {
    color: #fff;
}
.dark .contact__input {
    background-color: #0E2431;
    color: #fff;
    font-weight: 100;
}
.dark .sticky {
    background-color: #22272b;
    box-shadow: none;
}
.dark .nav__link {
    color: #fff;
}
.dark .nav__logo {
    color: #fff;
}
.dark #menu-icon1 {
    color: #fff;
}
.dark #menu-icon1:hover {
    background-color: rgb(59, 59, 59);
    transition: ease .3s;
    border-radius: 10%;
}
.dark #menu-icon1:not(:hover) {
    background-color: transparent;
    transition: ease .8s;
}
.dark .progress-container {
    /* background: #133142e5; */
    background-image: linear-gradient(to right,  #2b395e , #165a81);
}

.dark .progress-bar {
    /* background: #4070F4; */
    background-image: linear-gradient(to right,  #3c66da , #4c9efc);
}